html {
    font-family: sans-serif;
    background-color: #447744;
    scroll-padding-top: 175px;
}

body {
    background-color: #40ee40;
    margin: 40px 60px 20px 60px;
    padding-bottom: 5px;
    font-size: 150%;
}

body > * {
    margin-left: 20px;
    margin-right: 20px;
}

hr, menu, #aktualni  {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
}

h1 {
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: sticky;
    top: 0;
    height: 125px;
    background-color: #55aa55;
    color: #55ff55;
    font-size: 50px;
    display: flex;
    align-items: center;
}

h1 img {
    margin-right: 10px;
}

menu {
    background-color: #447744;
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    position: sticky;
    top: 125px;
    height: 42px;
    overflow: clip;
}

menu li {
    display: inline-block;
    margin: 1px 1px 1px 1px;
}

menu li a {
    display: inline-block;
    padding: 3px 10px 3px 10px;
    margin: 3px 0px 3px 0px;
    background-color: #449944;
    color: white;
    text-decoration: none;
}

menu li a:hover, menu li a:active {
    background-color: #44cc44;
}
